<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GENESYSLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GENESYSLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GENESYSLauncher.Properties.Settings>
            <setting name="HL2S_LaunchOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="HL2S_CustomNESYSHostIP" serializeAs="String">
                <value />
            </setting>
            <setting name="HL2S_CustomNESYSHostIP_Toggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CyberDiver_LaunchOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="L4DS_LaunchOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="HL2S_ArcadeMenu_Toggle" serializeAs="String">
                <value>True</value>
            </setting>
        </GENESYSLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GENESYSLauncher.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v2.0</value>
            </setting>
            <setting name="CloseWhenGameLaunches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordAppID" serializeAs="String">
                <value>776556647455391766</value>
            </setting>
        </GENESYSLauncher.Properties.Settings>
    </applicationSettings>
</configuration>