<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GENESYSLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GENESYSLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GENESYSLauncher.Properties.Settings>
            <setting name="CloseWhenGameLaunches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HL2S_LaunchOptions" serializeAs="String">
                <value>-sw -game hl2mp -heapsize 512000 -width 1360 -height 768 -windowed -language japanese -ac -io 0 -nesys 0</value>
            </setting>
            <setting name="HL2S_CustomNESYSHostIP" serializeAs="String">
                <value />
            </setting>
            <setting name="HL2S_CustomNESYSHostIP_Toggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CyberDiver_LaunchOptions" serializeAs="String">
                <value>-sw -game bs09 -heapsize 1024000 -width 1360 -height 768 -noborder -windowed -io 0 -nesys 0 -language japanese -ac</value>
            </setting>
            <setting name="L4DS_LaunchOptions" serializeAs="String">
                <value>-arcadeIO_InitializeSkip -game left4dead2 -language japanese -noborder -windowed</value>
            </setting>
            <setting name="HL2S_ArcadeMenu_Toggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CSNEO_InstallDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CSNEO_ShowTab" serializeAs="String">
                <value>False</value>
            </setting>
        </GENESYSLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GENESYSLauncher.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="DiscordAppID" serializeAs="String">
                <value>776556647455391766</value>
            </setting>
        </GENESYSLauncher.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>